.btn {
  box-shadow: none;
  background-color: #696969;

  &:hover {
    background-color: #7b7b7b;
  }
}

.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus {
  background-color: #383838;
}
