@import './base';

html {
  box-sizing: border-box;
  font-size: 0.625em;
}

html,
body {
  min-width: 310px;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  background-color: $grey-light-1;
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.row {
  display: block;
}

.content {
  padding: 3rem;

  &--red {
    background-color: $red-main;
    color: white;
  }

  &--grey {
    background-color: $grey-dark;
    color: $grey-light-2;
  }

  h1 {
    font-size: 3rem;
    margin: 1rem 0;
  }
}
