@import './../../styles/base';

nav {
  background-color: $grey-dark;
  text-transform: uppercase;
  height: 70px;
  line-height: 70px;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      float: none;
    }

    .nav-link {
      font-size: 1.4rem;
      padding: 0 1rem;
      color: $grey-light-1;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      transition: background-color 0.3s;

      &__username {
        text-transform: lowercase;
        color: $red-main;
        margin-left: 1rem;
      }

      &--user {
        display: flex;
        align-items: center;

        .material-icons {
          margin-left: 0.5rem;
          color: $red-main;
        }
      }

      &.active {
        background-color: rgba(0, 0, 0, 0.2);
        color: $red-main;
      }
    }
  }

  @media screen and (min-width: $breakpoint-sm) {
    ul {
      justify-content: flex-end;

      .nav-link {
        font-size: 1.6rem;
        padding: 0 2rem;
      }
    }
  }
}
