@import './../../../styles/base';

.question-preview {
  display: flex;
  margin-bottom: 2rem;
  opacity: 0.95;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    opacity: 1;
    transform: scale(1.03);
  }

  &:active {
    opacity: 1;
    transform: scale(1.03) translateY(-2px);
  }

  &__option {
    flex: 1;
    padding: 0;
    display: flex;
    align-items: stretch;

    &--one {
      flex-direction: row;
      border-right: 0.5rem solid $grey-dark;
    }

    &--two {
      flex-direction: row-reverse;
      border-left: 0.5rem solid $grey-dark;
    }
  }

  &__text {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 1rem 1.5rem;

    @media screen and (min-width: $breakpoint-sm) {
      font-size: 1.7rem;
      padding: 1.2rem 1.7rem;
    }
  }

  &__option--one &__text {
    text-align: left;
    flex-direction: row;
  }

  &__option--two &__text {
    text-align: right;
    flex-direction: row-reverse;
  }

  &__button {
    border: none;
    padding: 0 2rem;
    transition: al 0.2s ease;
    cursor: pointer;

    &:hover {
      color: $red-main;
    }
  }
}
