@import './../../styles/base.scss';

.add-question {
  max-width: 80rem;
  text-align: center;
  margin: 3rem auto;
  padding: 0 3rem;

  @media screen and (min-width: $breakpoint-sm) {
    padding: 0 6rem;
  }

  &__title {
    text-transform: lowercase;
    margin: 1rem 0 4rem;
    font-size: 5rem;
    font-weight: lighter;
    color: rgba($red-main, 0.8);

    @media screen and (min-width: $breakpoint-sm) {
      font-size: 7rem;
      margin: 1rem 0 6rem;
    }
  }

  &__option {
    margin: 0;
  }

  &__input {
    text-align: center;
    font-family: inherit;
    font-size: 2rem !important;

    &::placeholder {
      color: #888;
    }
  }

  &__option-separator {
    text-transform: lowercase;
    font-size: 2rem;
    display: block;
    margin: 1rem auto;

    @media screen and (min-width: $breakpoint-sm) {
      font-size: 3rem;
      margin: 3rem auto;
    }
  }

  &__button {
    width: 100%;
    max-width: 30rem;
    margin-top: 4rem;

    @media screen and (min-width: $breakpoint-sm) {
      margin-top: 5rem;
    }
  }
}
