@import './../../styles/base';

.question {
  text-align: center;
  padding: 2rem;

  &__options {
    @media screen and (min-width: $breakpoint-sm) {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 4rem;
    font-size: 5rem;
    color: $grey-dark;

    @media screen and (min-width: $breakpoint-sm) {
      font-size: 7rem;
    }

    @media screen and (min-width: $breakpoint-md) {
      font-size: 9rem;
    }
  }

  &__option {
    font-size: 2rem;
    margin: 1rem 0;
    text-decoration: underline;
    color: $grey-dark;
    transition: all 0.3s ease;

    @media screen and (min-width: $breakpoint-sm) {
      font-size: 4rem;
    }

    @media screen and (min-width: $breakpoint-sm) {
      width: 45%;

      &--one {
        text-align: right;
      }

      &--two {
        text-align: left;
      }
    }
  }

  &__selected-text {
    display: none;
  }

  &__separator {
    @media screen and (min-width: $breakpoint-sm) {
      margin: 0 2rem;
      font-size: 2rem;
    }
  }

  &--answerable {
    .question__option {
      cursor: pointer;

      &:hover {
        color: rgba($red-main, 0.7);
        transform: scale(1.1);
      }

      &:active {
        color: rgba($red-main, 1);
      }

      @media screen and (min-width: $breakpoint-sm) {
        &--one {
          transform-origin: 100%;
        }

        &--two {
          transform-origin: 0%;
        }
      }
    }
  }

  &:not(&--answerable) {
    .question__option {
      text-decoration: none;
      opacity: 0.6;

      &--selected {
        color: rgba($red-main, 1);
        opacity: 1;
      }
    }

    .question__option--selected .question__selected-text {
      display: block;
      font-size: 1.5rem;
      opacity: 0.6;

      @media screen and (min-width: $breakpoint-sm) {
        display: none;
      }
    }
  }
}
