@import './../../styles/base';

.login {
  min-width: 30rem;
  max-width: 40rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__result {
    color: #ff2b46;
    margin: 0 0 4rem;
    font-size: 1.5rem;
  }

  @media screen and (min-width: $breakpoint-md) {
    min-width: 40rem;
    max-width: 40rem;
  }
}
