@import './../../../styles//base.scss';

.list-toggle {
  display: flex;
  justify-content: center;
  margin: 2rem 0;

  & > *:not(:last-child) {
    margin-right: 2rem;
  }

  span {
    text-transform: lowercase;
  }

  button {
    border: none;
    background: transparent;
    color: $grey-dark;
    cursor: pointer;
    padding: 0.5rem 0;
    font-family: inherit;
    transition: all 0.2s ease;

    &:hover {
      border-bottom: 1px solid currentColor;
    }

    &.selected {
      border-bottom: 1px solid currentColor;
      color: $red-main;
    }
  }
}
